<link rel="stylesheet" href="/static/css/test.css">
<h1>Coucou les amis</h1>

<h2>What Can JavaScript Do?</h2>

<p id="demo">JavaScript can change HTML content.</p>

<h1 id="demo2">Not JavaScript</h1>

<button type="button" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>Click Me!</button>

<button type="button" onclick='console.log("coucou")'>Click Me!</button>

<script>
	console.log("coucou");
	console.log(document.getElementById("demo2"));
	document.getElementById("demo2").innerHTML = "Aled";
</script>

<!-- <script type="module" src="/static/js/main.js"></script> -->
<!-- <c-increment /> -->
