{% load custom_tags %}

<div class="mx-auto pt-4 d-flex flex-column gap-4" style="max-width: 70%;">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-4">
            <img class="rounded-4" width="120.5rem" height="120.5rem" src="{{ avatar }}"
                style="object-fit: cover; object-position: center;" />
            <h2>{{ username }}</h2>
        </div>
        <button is="c-friend-btn" class="btn btn-lg" id="btn-friend" target_username="{{ target_username }}"
            target_id="{{ target_id }}">Add friend</button>
    </div>
    <div class="card-group text-center">
        {% for card in cards %}
            <c-profilecard class="card" title="{{ card.title }}" value="{{ card.value }}"></c-profilecard>
        {% endfor %}
    </div>
    <div class="list-group" id="games">
        {% for game in games %}
            {% if game.mode == "quick" %}
                <c-quickgame class="list-group-item" at="{{ game.created_at }}" player="{{ game.target_user_info|jsonbase64 }}" opponents="{{ game.adversaries|jsonbase64 }}"></c-quickgame>
            {% elif game.mode == "square" %}
                <c-squaregame class="list-group-item" at="{{ game.created_at }}" player="{{ game.target_user_info|jsonbase64 }}" opponents="{{ game.adversaries|jsonbase64 }}"></c-squaregame>
            {% else %}
                <c-teamgame class="list-group-item" at="{{ game.created_at }}" player="{{ game.target_user_info|jsonbase64 }}" all-players="{{ game.players|jsonbase64 }}"></c-teamgame>
            {% endif %}
        {% endfor %}
    </div>
</div>
